.Choicefile
  {
   display:block;
   background:#0877D8;
   border:1px solid #fff;
   color:#fff;
   width:100px;
   text-align:center;
   text-decoration:none;
   cursor:pointer;
   padding:5px 0px;
   }
   #uploadfile,.removeimg
   {
    display:none;
   }
   #thumbbox
   {
    position:relative;
    width:100px;
   }
   .removeimg
   {
   background:  url("http://png-3.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_05.png")  repeat scroll 0 0 transparent;
   height: 24px;
   position: absolute;
   right: 5px;
   top: 5px;
   width: 24px;
  
   }