.td-date {
    min-width: 100px;
}


/* .gtco-container .text p,
.gtco-container .text .mb-4,
.gtco-container .text .mb-4 .text-primary {
    color: white !important;
}

.gtco-container .btn-info {
    background-color: #af3838;
} */