body {
    font-family: "Times New Roman", Times, serif;
}

p.p-main-info {
    text-align: center;
    min-height: 80px;
    max-height: 150px;
    padding: 10px;
    margin: 10px;
}

p.read-more {
    text-align: center;
}

.introduce-hotel {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.title-name {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

img.img-room {
    width: 50%;
    float: left;
    height: auto;
}

img.img-room-right {
    width: 50%;
    float: right;
    height: auto;
}